/*
 * Note: Alert extends Base Message, meaning this file builds on top of the
 * styles defined in ./shared/base-message.css
 */

.cd-alert {
  --cd-message-icon-size: 1.7em;
  --cd-message-icon-offset: 0.25em;
  --cd-message-icon-bg-color: var(--cd-color-surface-primary);

  font-size: var(--cd-font-size-m);
  color: var(--cd-color-text-primary);
  padding: var(--cd-border-m);
  padding-inline-start: calc(var(--cd-border-m) + 2px);
  border-radius: var(--cd-radius-s);
  background: linear-gradient(
    to right,
    var(--cd-alert-border-start-color),
    var(--cd-alert-border-end-color)
  );

  @media print {
    border: var(--cd-border-m) solid var(--cd-alert-border-start-color);
  }

  &.cd-status-error {
    --cd-alert-bg-color: var(--cd-color-red-9);
    --cd-alert-title-color: var(--cd-color-red-3);
    --cd-alert-border-start-color: var(--cd-color-red-5);
    --cd-alert-border-end-color: var(--cd-color-red-6);
    --cd-message-icon: url("@/src/icons/x.svg");
    --cd-message-icon-color: var(--cd-color-red-5);
  }

  &.cd-status-warning {
    --cd-alert-bg-color: var(--cd-color-yellow-9);
    --cd-alert-title-color: var(--cd-color-yellow-3);
    --cd-alert-border-start-color: var(--cd-color-yellow-5);
    --cd-alert-border-end-color: var(--cd-color-yellow-6);
    --cd-message-icon: url("@/src/icons/warning.svg");
    --cd-message-icon-color: var(--cd-color-yellow-5);
  }

  &.cd-status-success {
    --cd-alert-bg-color: var(--cd-color-green-9);
    --cd-alert-title-color: var(--cd-color-green-3);
    --cd-alert-border-start-color: var(--cd-color-green-5);
    --cd-alert-border-end-color: var(--cd-color-green-6);
    --cd-message-icon: url("@/src/icons/check.svg");
    --cd-message-icon-color: var(--cd-color-green-5);
  }

  &.cd-status-info {
    --cd-alert-bg-color: var(--cd-color-teal-9);
    --cd-alert-title-color: var(--cd-color-teal-3);
    --cd-alert-border-start-color: var(--cd-color-teal-5);
    --cd-alert-border-end-color: var(--cd-color-teal-6);
    --cd-message-icon: url("@/src/icons/info.svg");
    --cd-message-icon-color: var(--cd-color-teal-5);
  }

  &.cd-variant-subtle {
    --cd-message-icon-size: 1.3em;
    --cd-message-icon-offset: 0.5em;

    border-radius: var(--cd-radius-m);
    padding: var(--cd-border-s);
    font-size: var(--cd-font-size-s);

    &.cd-status-error {
      --cd-alert-border-start-color: var(--cd-color-red-8);
      --cd-alert-border-end-color: var(--cd-color-red-8);
      --cd-message-icon-bg-color: var(--cd-color-red-5);
      --cd-message-icon-color: var(--cd-color-red-9);

      color: var(--cd-color-red-1);
    }

    &.cd-status-warning {
      --cd-alert-border-start-color: var(--cd-color-yellow-8);
      --cd-alert-border-end-color: var(--cd-color-yellow-8);
      --cd-message-icon-bg-color: var(--cd-color-yellow-5);
      --cd-message-icon-color: var(--cd-color-yellow-9);

      color: var(--cd-color-yellow-1);
    }

    &.cd-status-success {
      --cd-alert-border-start-color: var(--cd-color-green-8);
      --cd-alert-border-end-color: var(--cd-color-green-8);
      --cd-message-icon-bg-color: var(--cd-color-green-5);
      --cd-message-icon-color: var(--cd-color-green-9);

      color: var(--cd-color-green-1);
    }

    &.cd-status-info {
      --cd-alert-border-start-color: var(--cd-color-teal-8);
      --cd-alert-border-end-color: var(--cd-color-teal-8);
      --cd-message-icon-bg-color: var(--cd-color-teal-5);
      --cd-message-icon-color: var(--cd-color-teal-9);

      color: var(--cd-color-teal-1);
    }

    .cd-alert-content {
      border-radius: calc(var(--cd-radius-m) - var(--cd-border-s));
      padding-inline-start: 2.25em;

      &::before {
        border-width: var(--cd-border-s);
      }
    }
  }
}

.cd-alert-content {
  position: relative;
  padding: var(--cd-space-2xs);
  padding-inline-start: 2.5em;
  background-color: var(--cd-alert-bg-color);
  border-start-start-radius: 2.5em;
  border-end-start-radius: 2.5em;
  border-start-end-radius: calc(var(--cd-radius-s) - var(--cd-border-m));
  border-end-end-radius: calc(var(--cd-radius-s) - var(--cd-border-m));
  box-shadow: var(--cd-shadow-s);
}

.cd-alert-title {
  color: var(--cd-alert-title-color);
  margin-block-end: 0.1em;
}
