.cd-app {
  /* The app is designed to take up the entire width of the page. However, we
   * set a global limit on the overall width of its content for UX and aesthetic
   * reasons. The wrapper elements of the page will always extend to the edge of
   * the screen, but all content within them will be kept within this limit and
   * centered.
   */
  --cd-app-max-content-width: 90rem;
  --cd-app-header-height: 3.8rem;
  --cd-app-sidebar-width: 18rem;

  position: relative;
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: var(--cd-font-family-body);
  font-size: var(--cd-font-size-m);
}

.cd-app-header {
  height: var(--cd-app-header-height);
  width: 100%;
  color: var(--cd-color-brand-3);
  background-color: var(--cd-color-surface-primary);
  border-bottom: var(--cd-border-l) solid var(--cd-color-brand-transparent);
  box-shadow: var(--cd-shadow-s);
  flex: none;
  position: sticky;
  left: 0;
  transition-property: background-color, border-bottom-color, box-shadow;
  transition-duration: var(--cd-duration-s);
  transition-timing-function: var(--cd-ease-default);

  &.cd-variant-transparent {
    background-color: transparent;
    background-image: linear-gradient(
      to bottom,
      rgb(from var(--cd-color-surface-primary) r g b / 67%),
      transparent
    );
    background-repeat: no-repeat;
    border-bottom-color: transparent;
    box-shadow: none;
  }
}

.cd-app-header-content {
  height: 100%;
  width: 100%;
  max-width: var(--cd-app-max-content-width);
  margin-inline: auto;
  padding-inline: calc(var(--cd-space-body-x) - var(--cd-space-xs));
  padding-block: 6px;
  display: grid;
  grid-template-areas: "l c r";
  grid-template-columns: 1fr auto auto;
}

.cd-app-header-left,
.cd-app-header-center,
.cd-app-header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cd-app-header-left {
  grid-area: l;
}

.cd-app-header-center {
  grid-area: c;
}

.cd-app-header-right {
  grid-area: r;
}

.cd-app-header-item {
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition-property: color, background-color;
  transition-duration: var(--cd-duration-s);
  transition-timing-function: var(--cd-ease-default);
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1rem;
  font-weight: var(--cd-font-weight-semibold);
  padding-inline: var(--cd-space-xs);
  border-radius: var(--cd-radius-m);

  &:is(:hover, .cd-is-hovered) {
    background-color: var(--cd-color-brand-extra-transparent);
  }

  &:is(:active, .cd-is-active) {
    background-color: var(--cd-color-brand-transparent);
  }

  &:is(:focus-visible, .cd-is-focused) {
    background-color: var(--cd-color-brand-extra-transparent);
    outline-offset: calc(-1 * var(--cd-border-m));
  }

  &[aria-current]:not([aria-current="false"]) {
    font-weight: var(--cd-font-weight-bold);

    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--cd-border-l);
    bottom: calc(-1 * (var(--cd-border-l) + 6px));
    left: 0;
    background-color: currentcolor;
    opacity: 0;
    border-radius: 1px;
  }
}

.cd-app-header-divider {
  border: 0;
  border-inline-start: var(--cd-border-s) solid var(--cd-color-border);
  display: inline-block;
  margin: auto var(--cd-space-xs);
  width: 0;
  height: 85%;
}

.cd-app-icon {
  background-color: var(--cd-color-brand-3);
  height: 2em;
  width: 2em;
  border: var(--cd-border-m) solid transparent;
  border-radius: var(--cd-radius-full);
}

.cd-app-title-divider {
  content: "";
  background-color: var(--cd-color-brand-transparent);
  width: var(--cd-border-m);
  height: 1.5em;
  rotate: 22deg;
  margin-inline: var(--cd-space-2xs);
  position: relative;
  left: 1px;
}

.cd-app-title {
  font-family: var(--cd-font-family-heading);
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.cd-app-body {
  position: relative;
  width: 100%;
  max-width: var(--cd-app-max-content-width);
  margin-inline: auto;
  flex: none;
  display: flex;
  flex-direction: row;
}

.cd-app-sidebar {
  transition-property: opacity, display;
  transition-duration: var(--cd-duration-m);
  transition-timing-function: var(--cd-ease-default);
  transition-behavior: allow-discrete;
  width: var(--cd-app-sidebar-width);
  flex: none;
  opacity: 1;
  border-inline-end: var(--cd-border-s) dashed var(--cd-color-border);
}

.cd-app-sidebar-content {
  position: sticky;
  top: 0;
  overflow: auto;
  height: 100dvh;
  scrollbar-width: thin;
}

.cd-app-sidebar-section {
  &:first-of-type {
    margin-block-start: var(--cd-space-body-y);
  }

  &:not(:last-of-type) {
    margin-block-end: var(--cd-space-xs);
  }

  &:last-of-type {
    margin-block-end: var(--cd-space-body-y);
  }
}

.cd-app-sidebar-heading {
  --cd-link-color: var(--cd-color-text-primary);
  --cd-link-active-color: light-dark(
    var(--cd-color-gray-3),
    var(--cd-color-gray-2)
  );

  color: var(--cd-color-text-primary);
  font-size: 1.2rem;
  margin: 0 var(--cd-space-body-x) var(--cd-space-3xs);
  font-family: var(--cd-font-family-heading);
  font-weight: var(--cd-font-weight-semibold);

  [aria-current]:not([aria-current="false"]) {
    --cd-link-color: var(--cd-color-brand-3);
    --cd-link-active-color: var(--cd-color-brand-2);
  }
}

.cd-app-sidebar-item {
  display: block;
  margin: 0 var(--cd-space-2xs);
  padding: var(--cd-space-2xs)
    calc(var(--cd-space-body-x) - var(--cd-space-2xs));
  border-radius: var(--cd-radius-l);
  color: var(--cd-color-text-secondary);
  text-decoration: none;
  font-weight: var(--cd-font-weight-normal);
  font-size: 1rem;
  user-select: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--cd-duration-s);
  transition-timing-function: var(--cd-ease-default);

  &:is(:hover, .cd-is-hovered) {
    background-color: var(--cd-color-brand-extra-transparent);
  }

  &:is(:active, .cd-is-active) {
    color: var(--cd-color-brand-1);
  }

  &[aria-current]:not([aria-current="false"]) {
    color: var(--cd-color-brand-4);
    font-weight: var(--cd-font-weight-bold);
  }

  &:is(:hover, .cd-is-hovered):is(:active, .cd-is-active) {
    background-color: var(--cd-color-brand-transparent);
  }

  &:is(:focus-visible, .cd-is-focused) {
    outline-offset: 0;
    background-color: var(--cd-color-brand-extra-transparent);
  }
}

.cd-app-sidebar-toggle {
  width: 2.75em;
  display: none;

  &.cd-is-focused,
  &:has(input:focus-visible) {
    background-color: var(--cd-color-brand-extra-transparent);
    outline: var(--cd-border-m) solid var(--cd-color-brand-5);
    outline-offset: calc(-1 * var(--cd-border-m));
  }

  /* Style the 3 lines inside the button */
  > div {
    transition-property: transform, opacity;
    transition-duration: var(--cd-duration-l);
    transition-timing-function: var(--cd-ease-out);
    position: absolute;
    width: 1.75em;
    height: 2px;
    border-radius: 2px;
    background-color: currentcolor;
    opacity: 1;
    top: 50%;
    left: 50%;

    &:nth-of-type(1) {
      transform: translateY(calc(-50% - 0.45em)) translateX(-50%);
    }

    &:nth-of-type(2) {
      transform: translateY(-50%) translateX(-50%);
    }

    &:nth-of-type(3) {
      transform: translateY(calc(-50% + 0.45em)) translateX(-50%);
    }
  }

  /* When the sidebar is visible, turn the 3 lines into an X  */
  &:has(input:checked) > div {
    &:nth-of-type(1) {
      transform: translateY(-50%) translateX(-50%) rotate(45deg);
    }

    &:nth-of-type(2) {
      opacity: 0;
      transform: translateY(-50%) translateX(-50%) rotate3d(0, 1, 0, 90deg);
    }

    &:nth-of-type(3) {
      transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    }
  }
}

.cd-app-content {
  width: 100%;
  padding: var(--cd-space-body-y) var(--cd-space-body-x);
  position: relative;
}

/* If there's a sidebar, shrink the content area to accommodate it */
.cd-app-sidebar ~ .cd-app-content {
  width: calc(100% - var(--cd-app-sidebar-width));
}

@media (width < 55rem) {
  .cd-app:has(.cd-app-header-center) {
    --cd-app-header-height: 4.8rem;

    .cd-app-header-content {
      grid-template-columns: 1fr auto;
      grid-template-areas:
        "l r"
        "c c";
    }

    .cd-app-header-item {
      font-size: 0.9rem;
    }

    .cd-app-header-center .cd-app-header-item {
      font-size: 0.85rem;
    }

    .cd-app-header-divider {
      border-inline-start: 0;
      width: 100%;
      height: 0;
    }
  }

  .cd-app-sidebar-toggle {
    display: block;
  }

  /* 
   * If there's a sidebar, DON'T factor its width into the content width since
   * the sidebar now has `position: fixed`. This only applies to pages with a
   * sidebar; without one, app-content's width is already 100%.
   */
  .cd-app-sidebar ~ .cd-app-content {
    width: 100%;
  }

  .cd-app-sidebar {
    position: fixed;
    top: var(--cd-app-header-height);
    left: 0;
    width: 100vw;
    opacity: 1;
    background-color: var(--cd-glass-bg-color);
    backdrop-filter: var(--cd-glass-filter);
    border-right: 0;
    z-index: 9;

    &::after {
      content: initial;
    }
  }

  .cd-app-sidebar-content {
    height: calc(100dvh - var(--cd-app-header-height));
  }

  .cd-app:not(:has(.cd-app-sidebar-toggle input:checked)) .cd-app-sidebar {
    opacity: 0;
    display: none;
  }

  /* If sidebar is open, temporarily hide the overflow and any site-wide banners */
  .cd-app:has(.cd-app-sidebar-toggle input:checked) {
    overflow: hidden;

    > .cd-banner {
      display: none;
    }

    .cd-app-header {
      position: fixed;
      top: 0;
      z-index: 10;
      background-color: var(--cd-color-surface-primary);
      border-bottom-color: var(--cd-color-brand-transparent);
      box-shadow: var(--cd-shadow-s);
    }

    .cd-app-content {
      top: var(--cd-app-header-height);
    }
  }
}

.cd-app:has(dialog:modal) {
  /* 
   * If modal is open, hide the overflow. This prevents the user from scrolling
   * the page down by dragging on the header, which they'd have no way to undo.
   */
  overflow: hidden;
}

@starting-style {
  .cd-app > .cd-app-sidebar {
    opacity: 0;
  }
}

[data-cd-scroll-gutter="true"] {
  overflow-y: hidden;
  scrollbar-gutter: stable;
}
