/*
 * Note: Banner extends Base Message, meaning this file builds on top of the
 * styles defined in ./shared/base-message.css
 */

.cd-banner {
  --cd-message-icon-size: 1.6em;
  --cd-message-icon-offset: 0.8em;
  --cd-message-icon-bg-color: var(--cd-color-surface-primary);

  font-size: 1rem;
  color: var(--cd-color-contrast-text);
  border-block: var(--cd-border-m) solid var(--cd-banner-secondary-color);
  width: 100%;
  background-color: var(--cd-banner-bg-color);

  .cd-dismiss-button {
    --cd-dismiss-button-fg-color: currentcolor;
    --cd-dismiss-button-size: 1.7em;

    position: absolute;
    inset-block-start: 0.5em;
    inset-inline-end: 0.5em;
    margin: auto;
  }

  .cd-link {
    --cd-link-color: var(--cd-color-contrast-text);
    --cd-link-active-color: rgb(from var(--cd-color-contrast-text) r g b / 85%);
  }

  &.cd-status-error {
    --cd-banner-bg-color: var(--cd-color-red-4);
    --cd-banner-secondary-color: var(--cd-color-red-5);
    --cd-message-icon: url("@/src/icons/x.svg");
    --cd-message-icon-color: var(--cd-color-red-5);

    .cd-dismiss-button {
      --cd-dismiss-button-bg-color: var(--cd-color-red-3);
      --cd-dismiss-button-highlight-color: var(--cd-color-red-8);
    }
  }

  &.cd-status-warning {
    --cd-banner-bg-color: var(--cd-color-yellow-4);
    --cd-banner-secondary-color: var(--cd-color-yellow-5);
    --cd-message-icon: url("@/src/icons/warning.svg");
    --cd-message-icon-color: var(--cd-color-yellow-5);

    .cd-dismiss-button {
      --cd-dismiss-button-bg-color: var(--cd-color-yellow-3);
      --cd-dismiss-button-highlight-color: var(--cd-color-yellow-6);
    }
  }

  &.cd-status-success {
    --cd-banner-bg-color: var(--cd-color-green-4);
    --cd-banner-secondary-color: var(--cd-color-green-5);
    --cd-message-icon: url("@/src/icons/check.svg");
    --cd-message-icon-color: var(--cd-color-green-5);

    .cd-dismiss-button {
      --cd-dismiss-button-bg-color: var(--cd-color-green-3);
      --cd-dismiss-button-highlight-color: var(--cd-color-green-8);
    }
  }

  &.cd-status-info {
    --cd-banner-bg-color: var(--cd-color-teal-4);
    --cd-banner-secondary-color: var(--cd-color-teal-5);
    --cd-message-icon: url("@/src/icons/info.svg");
    --cd-message-icon-color: var(--cd-color-teal-5);

    .cd-dismiss-button {
      --cd-dismiss-button-bg-color: var(--cd-color-teal-3);
      --cd-dismiss-button-highlight-color: var(--cd-color-teal-8);
    }
  }

  &.cd-status-neutral {
    --cd-banner-bg-color: var(--cd-color-brand-4);
    --cd-banner-secondary-color: var(--cd-color-brand-5);

    .cd-dismiss-button {
      --cd-dismiss-button-bg-color: var(--cd-color-brand-3);
      --cd-dismiss-button-highlight-color: var(--cd-color-brand-8);
    }

    .cd-banner-content {
      padding-inline-start: var(--cd-space-body-x);
    }

    .cd-banner-content::before,
    .cd-banner-content::after {
      content: unset;
    }
  }

  &:has(.cd-dismiss-button) .cd-banner-content {
    padding-inline-end: 2.75em;
  }

  /* In a stack of banners, collapse borders */
  & + & {
    border-block-start-width: 0;
  }
}

.cd-banner-content {
  position: relative;
  max-width: var(--cd-app-max-content-width);
  margin-inline: auto;
  padding: var(--cd-space-2xs) var(--cd-space-body-x);
  padding-inline-start: 3.2em;
}

.cd-banner-title {
  margin-block-end: var(--cd-space-3xs);
}
