.cd-button,
.cd-icon-button {
  --cd-button-fg-color: var(--cd-color-text-primary);
  --cd-button-bg-color: light-dark(var(--cd-color-gray-9), #191b1e);
  --cd-button-border-color: light-dark(
    var(--cd-color-gray-8),
    var(--cd-color-border)
  );
  --cd-button-font-weight: var(--cd-font-weight-normal);
  --cd-button-focus-ring-color: var(--cd-color-gray-extra-transparent);
  --cd-button-shadow: var(--cd-shadow-s);
  --cd-button-hover-bg-color: var(--cd-button-border-color);
  --cd-button-scale: 1;

  box-sizing: border-box;
  display: inline-flex;
  outline: 0;
  padding-inline: 1.25em;
  padding-block: 0.5em;
  gap: 0.625em;
  border-style: solid;
  transform: scale(1);
  transition-property:
    box-shadow, background-color, border-color, transform, opacity;
  transition-duration: var(--cd-duration-m);
  transition-timing-function: var(--cd-ease-default);
  text-decoration: none;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border-width: var(--cd-border-s);
  border-radius: var(--cd-radius-m);
  min-height: 2.6em;
  min-width: 3em;
  line-height: var(--cd-line-height-s);
  font-family: var(--cd-font-family-body);
  box-shadow: var(--cd-button-shadow);
  user-select: none;
  font-size: calc(1rem * var(--cd-button-scale));
  color: var(--cd-button-fg-color);
  background-color: var(--cd-button-bg-color);
  border-color: var(--cd-button-border-color);
  font-weight: var(--cd-button-font-weight);
  text-align: center;
  text-wrap: balance;

  &::before {
    content: "";
    background-color: var(--cd-button-hover-bg-color);
    position: absolute;
    inset: 0;
    margin: auto;
    transition-property: opacity, width, height, border-radius;
    transition-duration: var(--cd-duration-m);
    transition-timing-function: var(--cd-ease-default);
    z-index: -1;
    border-radius: 2em;
    width: 4em;
    height: 4em;
    opacity: 0;
  }

  &:is(:focus-visible, .cd-is-focused) {
    box-shadow:
      var(--cd-button-shadow),
      0 0 0 0.1em var(--cd-button-border-color),
      0 0 0 calc(0.2em + var(--cd-border-s)) var(--cd-button-focus-ring-color);
  }

  &:is(:active, .cd-is-active) {
    transform: scale(0.98);

    /*
     * On low-resolution screens, the scale effect makes text jump
     * around awkwardly, so we use an alternative.
     */
    @media screen and (resolution < 2x) {
      transform: translateY(1px);
    }
  }

  &:is(:hover, .cd-is-hovered) {
    text-decoration: none;

    &::before {
      opacity: 1;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    /* inputs don't support children, so the ::before pseudo element won't work */
    &:is(input) {
      background-color: var(--cd-button-hover-bg-color);
    }
  }

  &.cd-color-brand {
    --cd-button-fg-color: var(--cd-color-brand-1);
    --cd-button-bg-color: var(--cd-color-brand-9);
    --cd-button-border-color: var(--cd-color-brand-8);
    --cd-button-focus-ring-color: var(--cd-color-brand-extra-transparent);
  }

  &.cd-color-red {
    --cd-button-fg-color: var(--cd-color-red-1);
    --cd-button-bg-color: var(--cd-color-red-9);
    --cd-button-border-color: var(--cd-color-red-8);
    --cd-button-focus-ring-color: var(--cd-color-red-extra-transparent);
  }

  &.cd-color-orange {
    --cd-button-fg-color: var(--cd-color-orange-1);
    --cd-button-bg-color: var(--cd-color-orange-9);
    --cd-button-border-color: var(--cd-color-orange-8);
    --cd-button-focus-ring-color: var(--cd-color-orange-extra-transparent);
  }

  &.cd-color-yellow {
    --cd-button-fg-color: var(--cd-color-yellow-1);
    --cd-button-bg-color: var(--cd-color-yellow-9);
    --cd-button-border-color: var(--cd-color-yellow-8);
    --cd-button-focus-ring-color: var(--cd-color-yellow-extra-transparent);
  }

  &.cd-color-green {
    --cd-button-fg-color: var(--cd-color-green-1);
    --cd-button-bg-color: var(--cd-color-green-9);
    --cd-button-border-color: var(--cd-color-green-8);
    --cd-button-focus-ring-color: var(--cd-color-green-extra-transparent);
  }

  &.cd-color-teal {
    --cd-button-fg-color: var(--cd-color-teal-1);
    --cd-button-bg-color: var(--cd-color-teal-9);
    --cd-button-border-color: var(--cd-color-teal-8);
    --cd-button-focus-ring-color: var(--cd-color-teal-extra-transparent);
  }

  &.cd-color-blue {
    --cd-button-fg-color: var(--cd-color-blue-1);
    --cd-button-bg-color: var(--cd-color-blue-9);
    --cd-button-border-color: var(--cd-color-blue-8);
    --cd-button-focus-ring-color: var(--cd-color-blue-extra-transparent);
  }

  &.cd-color-purple {
    --cd-button-fg-color: var(--cd-color-purple-1);
    --cd-button-bg-color: var(--cd-color-purple-9);
    --cd-button-border-color: var(--cd-color-purple-8);
    --cd-button-focus-ring-color: var(--cd-color-purple-extra-transparent);
  }

  &.cd-color-pink {
    --cd-button-fg-color: var(--cd-color-pink-1);
    --cd-button-bg-color: var(--cd-color-pink-9);
    --cd-button-border-color: var(--cd-color-pink-8);
    --cd-button-focus-ring-color: var(--cd-color-pink-extra-transparent);
  }

  &.cd-variant-primary {
    --cd-button-fg-color: white;
    --cd-button-bg-color: var(--cd-color-brand-5);
    --cd-button-border-color: var(--cd-color-brand-4);
    --cd-button-font-weight: var(--cd-font-weight-semibold);
    --cd-button-focus-ring-color: var(--cd-color-brand-transparent);

    &.cd-color-red {
      --cd-button-bg-color: var(--cd-color-red-5);
      --cd-button-border-color: var(--cd-color-red-4);
      --cd-button-focus-ring-color: var(--cd-color-red-transparent);
    }

    &.cd-color-orange {
      --cd-button-bg-color: var(--cd-color-orange-5);
      --cd-button-border-color: var(--cd-color-orange-4);
      --cd-button-focus-ring-color: var(--cd-color-orange-transparent);
    }

    &.cd-color-yellow {
      --cd-button-bg-color: var(--cd-color-yellow-5);
      --cd-button-border-color: var(--cd-color-yellow-4);
      --cd-button-focus-ring-color: var(--cd-color-yellow-transparent);
    }

    &.cd-color-green {
      --cd-button-bg-color: var(--cd-color-green-5);
      --cd-button-border-color: var(--cd-color-green-4);
      --cd-button-focus-ring-color: var(--cd-color-green-transparent);
    }

    &.cd-color-teal {
      --cd-button-bg-color: var(--cd-color-teal-5);
      --cd-button-border-color: var(--cd-color-teal-4);
      --cd-button-focus-ring-color: var(--cd-color-teal-transparent);
    }

    &.cd-color-blue {
      --cd-button-bg-color: var(--cd-color-blue-5);
      --cd-button-border-color: var(--cd-color-blue-4);
      --cd-button-focus-ring-color: var(--cd-color-blue-transparent);
    }

    &.cd-color-purple {
      --cd-button-bg-color: var(--cd-color-purple-5);
      --cd-button-border-color: var(--cd-color-purple-4);
      --cd-button-focus-ring-color: var(--cd-color-purple-transparent);
    }

    &.cd-color-pink {
      --cd-button-bg-color: var(--cd-color-pink-5);
      --cd-button-border-color: var(--cd-color-pink-4);
      --cd-button-focus-ring-color: var(--cd-color-pink-transparent);
    }

    &.cd-color-gray {
      --cd-button-bg-color: var(--cd-color-gray-5);
      --cd-button-border-color: var(--cd-color-gray-4);
      --cd-button-focus-ring-color: var(--cd-color-gray-transparent);
    }

    &.cd-color-black,
    &.cd-color-white {
      /* The foreground, background, and border colors are the same as secondary, so we don't need to specify them here  */
      --cd-button-focus-ring-color: var(--cd-color-gray-transparent);
    }
  }

  /*
   * Black and white use the same colors on primary and secondary Buttons.
   * We define these rules after primary and secondary so we only need to
   * declare them once (these rules take precedence over both).
   */
  &.cd-color-black {
    --cd-button-fg-color: white;
    --cd-button-bg-color: black;
    --cd-button-border-color: light-dark(
      var(--cd-color-gray-3),
      var(--cd-color-gray-8)
    );
    --cd-button-focus-ring-color: var(--cd-color-gray-extra-transparent);
  }

  &.cd-color-white {
    --cd-button-fg-color: black;
    --cd-button-bg-color: white;
    --cd-button-border-color: light-dark(
      var(--cd-color-border),
      var(--cd-color-gray-2)
    );
    --cd-button-focus-ring-color: var(--cd-color-gray-extra-transparent);
  }

  &.cd-variant-tertiary {
    --cd-button-fg-color: var(--cd-color-brand-4);
    --cd-button-bg-color: transparent;
    --cd-button-border-color: transparent;
    --cd-button-hover-bg-color: var(--cd-color-brand-extra-transparent);
    --cd-button-font-weight: var(--cd-font-weight-bold);
    --cd-button-focus-ring-color: transparent;
    --cd-button-shadow: none;

    &:is(:focus-visible, .cd-is-focused) {
      --cd-button-bg-color: var(--cd-color-brand-transparent);
      --cd-button-hover-bg-color: transparent;
    }

    &.cd-color-red {
      --cd-button-fg-color: var(--cd-color-red-4);
      --cd-button-hover-bg-color: var(--cd-color-red-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-red-transparent);
      }
    }

    &.cd-color-orange {
      --cd-button-fg-color: var(--cd-color-orange-4);
      --cd-button-hover-bg-color: var(--cd-color-orange-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-orange-transparent);
      }
    }

    &.cd-color-yellow {
      --cd-button-fg-color: var(--cd-color-yellow-4);
      --cd-button-hover-bg-color: var(--cd-color-yellow-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-yellow-transparent);
      }
    }

    &.cd-color-green {
      --cd-button-fg-color: var(--cd-color-green-4);
      --cd-button-hover-bg-color: var(--cd-color-green-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-green-transparent);
      }
    }

    &.cd-color-teal {
      --cd-button-fg-color: var(--cd-color-teal-4);
      --cd-button-hover-bg-color: var(--cd-color-teal-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-teal-transparent);
      }
    }

    &.cd-color-blue {
      --cd-button-fg-color: var(--cd-color-blue-4);
      --cd-button-hover-bg-color: var(--cd-color-blue-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-blue-transparent);
      }
    }

    &.cd-color-purple {
      --cd-button-fg-color: var(--cd-color-purple-4);
      --cd-button-hover-bg-color: var(--cd-color-purple-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-purple-transparent);
      }
    }

    &.cd-color-pink {
      --cd-button-fg-color: var(--cd-color-pink-4);
      --cd-button-hover-bg-color: var(--cd-color-pink-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-pink-transparent);
      }
    }

    &.cd-color-gray,
    &.cd-color-black,
    &.cd-color-white {
      --cd-button-hover-bg-color: var(--cd-color-gray-extra-transparent);

      &:is(:focus-visible, .cd-is-focused) {
        --cd-button-bg-color: var(--cd-color-gray-transparent);
      }
    }

    &.cd-color-gray {
      --cd-button-fg-color: var(--cd-color-gray-4);
    }

    &.cd-color-black {
      --cd-button-fg-color: black;
    }

    &.cd-color-white {
      --cd-button-fg-color: white;
    }
  }

  &.cd-size-small {
    --cd-button-scale: 0.8;
  }

  &.cd-size-large {
    --cd-button-scale: 1.2;
  }

  &:is(:disabled, .cd-is-disabled, [aria-disabled="true"]) {
    opacity: var(--cd-opacity-disabled);
    cursor: not-allowed;
    transform: scale(1);

    &:is(:hover, .cd-is-hovered)::before {
      opacity: 0;
    }
  }

  &.cd-is-loading {
    cursor: progress;

    &::before {
      opacity: 1 !important;
      height: 100% !important;
      border-radius: inherit !important;
      animation: cd-button-loading-bg 1200ms var(--cd-ease-both-subtle) infinite
        forwards;
    }

    &:is(:disabled, .cd-is-disabled, [aria-disabled="true"]) {
      cursor: wait;
    }
  }
}

.cd-icon-button {
  border-radius: var(--cd-radius-full);
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1;
  padding: 0.5em;

  /* Tertiary icon buttons use normal pseudo element hover effect */
  &.cd-variant-tertiary {
    &::before {
      width: 75%;
      height: 75%;
    }

    &:is(:hover, .cd-is-hovered)::before {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  /* Normal icon buttons just change background color */
  &:not(.cd-variant-tertiary) {
    &::before {
      content: unset;
    }

    &:is(:hover, .cd-is-hovered) {
      background-color: var(--cd-button-hover-bg-color);
    }
  }
}

@keyframes cd-button-loading-bg {
  0% {
    width: 0;
    margin: 0 auto 0 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
    margin: 0 0 0 auto;
  }
}
