.cd-card {
  --cd-card-bg-color: var(--cd-color-surface-primary);
  --cd-card-fg-color: var(--cd-color-text-primary);
  --cd-card-border-color: var(--cd-color-border);

  background-color: var(--cd-card-bg-color);
  border-radius: var(--cd-radius-l);
  border: var(--cd-border-s) solid var(--cd-card-border-color);
  box-shadow: var(--cd-shadow-m);
  padding: var(--cd-space-m);
  font-family: var(--cd-font-family-body);
  font-size: var(--cd-font-size-m);
  font-weight: var(--cd-font-weight-normal);
  color: var(--cd-card-fg-color);

  &.cd-variant-secondary {
    --cd-card-bg-color: var(--cd-color-surface-secondary);

    border-radius: var(--cd-radius-m);
    box-shadow: var(--cd-shadow-s);
    padding: var(--cd-space-s);
  }

  &.cd-is-transparent {
    --cd-card-bg-color: var(--cd-glass-bg-color);
    --cd-card-border-color: var(--cd-glass-border-color);
    --cd-card-fg-color: var(--cd-glass-fg-color);

    backdrop-filter: var(--cd-glass-filter);
  }
}

.cd-card-title {
  /* Make links inside the card title match the color of the surrounding text */
  --cd-link-color: var(--cd-color-brand-3);
  --cd-link-active-color: var(--cd-color-brand-2);

  font-family: var(--cd-font-family-heading);
  line-height: var(--cd-line-height-s);
  text-wrap: balance;
  overflow-wrap: break-word;
  font-size: var(--cd-font-size-l);
  font-weight: var(--cd-font-weight-bold);
  color: var(--cd-color-brand-3);
  margin-block: 0 var(--cd-space-2xs);
  display: block;
}

.cd-card.cd-variant-secondary .cd-card-title {
  font-size: var(--cd-font-size-m);
  margin-block-end: var(--cd-space-2xs);
}
