.chip {
  --chip-fg-color: white;
  --chip-bg-color: var(--color-brand-5);
  --chip-border-color: var(--color-brand-4);
  --chip-dismiss-bg-color: light-dark(
    var(--color-brand-3),
    var(--color-brand-7)
  );
  --chip-dismiss-highlight-color: light-dark(
    var(--color-brand-8),
    var(--color-brand-3)
  );
  --chip-focus-color: var(--color-brand-transparent);
  --chip-padding-x: var(--space-xs);
  --chip-padding-y: var(--space-3xs);

  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: var(--radius-full);
  font-size: var(--font-size-s);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-normal);
  padding: var(--chip-padding-y) var(--chip-padding-x);
  background-color: var(--chip-bg-color);
  border: var(--border-s) solid var(--chip-border-color);
  color: var(--chip-fg-color);
  flex-shrink: 0;
  cursor: default;
  transition-property: box-shadow, background-color, border-color, transform;
  transition-duration: var(--duration-m);
  transition-timing-function: var(--ease-default);
  text-decoration: none;
  appearance: none;
  line-height: var(--line-height-xs);
  white-space: nowrap;

  &.clickable {
    cursor: pointer;
    box-shadow: var(--shadow-s);
    transform: scale(1);

    &:is(:focus-visible, .focus),
    &:has(.chip-label:focus-visible) {
      outline: 0;
      box-shadow:
        var(--shadow-s),
        0 0 0 0.1em var(--chip-border-color),
        0 0 0 calc(0.2em + var(--border-s)) var(--chip-focus-color);

      .dismiss-button {
        opacity: 0.5;
      }
    }

    /* Change the background on hover, but only if the cursor is not over the delete button */
    &.hover,
    &:hover:not(:has(.dismiss-button:hover)) {
      background-color: var(--chip-border-color);
    }

    &.active,
    &:active:not(:has(.dismiss-button:active)) {
      transform: scale(0.96);

      /*
       * On low-resolution screens, the scale effect makes text jump
       * around awkwardly, so we use an alternative.
       */
      @media screen and (resolution < 2x) {
        transform: translateY(1px);
      }
    }
  }

  &.red {
    --chip-bg-color: var(--color-red-5);
    --chip-border-color: var(--color-red-4);
    --chip-focus-color: var(--color-red-transparent);
    --chip-dismiss-bg-color: light-dark(var(--color-red-3), var(--color-red-7));
    --chip-dismiss-highlight-color: light-dark(
      var(--color-red-8),
      var(--color-red-3)
    );
  }

  &.orange {
    --chip-bg-color: var(--color-orange-5);
    --chip-border-color: var(--color-orange-4);
    --chip-focus-color: var(--color-orange-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-orange-3),
      var(--color-orange-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-orange-8),
      var(--color-orange-3)
    );
  }

  &.yellow {
    --chip-bg-color: var(--color-yellow-5);
    --chip-border-color: var(--color-yellow-4);
    --chip-focus-color: var(--color-yellow-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-yellow-3),
      var(--color-yellow-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-yellow-8),
      var(--color-yellow-3)
    );
  }

  &.green {
    --chip-bg-color: var(--color-green-5);
    --chip-border-color: var(--color-green-4);
    --chip-focus-color: var(--color-green-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-green-3),
      var(--color-green-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-green-8),
      var(--color-green-3)
    );
  }

  &.teal {
    --chip-bg-color: var(--color-teal-5);
    --chip-border-color: var(--color-teal-4);
    --chip-focus-color: var(--color-teal-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-teal-3),
      var(--color-teal-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-teal-8),
      var(--color-teal-3)
    );
  }

  &.blue {
    --chip-bg-color: var(--color-blue-5);
    --chip-border-color: var(--color-blue-4);
    --chip-focus-color: var(--color-blue-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-blue-3),
      var(--color-blue-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-blue-8),
      var(--color-blue-3)
    );
  }

  &.purple {
    --chip-bg-color: var(--color-purple-5);
    --chip-border-color: var(--color-purple-4);
    --chip-focus-color: var(--color-purple-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-purple-3),
      var(--color-purple-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-purple-8),
      var(--color-purple-3)
    );
  }

  &.magenta {
    --chip-bg-color: var(--color-magenta-5);
    --chip-border-color: var(--color-magenta-4);
    --chip-focus-color: var(--color-magenta-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-magenta-3),
      var(--color-magenta-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-magenta-8),
      var(--color-magenta-3)
    );
  }

  &.gray {
    --chip-bg-color: var(--color-gray-5);
    --chip-border-color: var(--color-gray-4);
    --chip-focus-color: var(--color-gray-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-gray-3),
      var(--color-gray-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-gray-8),
      var(--color-gray-3)
    );
  }

  &.subtle {
    --chip-fg-color: var(--color-brand-2);
    --chip-bg-color: var(--color-brand-9);
    --chip-border-color: var(--color-brand-8);
    --chip-focus-color: var(--color-brand-extra-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-brand-8),
      var(--color-brand-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-brand-7),
      var(--color-brand-3)
    );

    &.red {
      --chip-fg-color: var(--color-red-2);
      --chip-bg-color: var(--color-red-9);
      --chip-border-color: var(--color-red-8);
      --chip-focus-color: var(--color-red-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-red-8),
        var(--color-red-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-red-7),
        var(--color-red-3)
      );
    }

    &.orange {
      --chip-fg-color: var(--color-orange-2);
      --chip-bg-color: var(--color-orange-9);
      --chip-border-color: var(--color-orange-8);
      --chip-focus-color: var(--color-orange-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-orange-8),
        var(--color-orange-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-orange-7),
        var(--color-orange-3)
      );
    }

    &.yellow {
      --chip-fg-color: var(--color-yellow-2);
      --chip-bg-color: var(--color-yellow-9);
      --chip-border-color: var(--color-yellow-8);
      --chip-focus-color: var(--color-yellow-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-yellow-8),
        var(--color-yellow-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-yellow-7),
        var(--color-yellow-3)
      );
    }

    &.green {
      --chip-fg-color: var(--color-green-2);
      --chip-bg-color: var(--color-green-9);
      --chip-border-color: var(--color-green-8);
      --chip-focus-color: var(--color-green-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-green-8),
        var(--color-green-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-green-7),
        var(--color-green-3)
      );
    }

    &.teal {
      --chip-fg-color: var(--color-teal-2);
      --chip-bg-color: var(--color-teal-9);
      --chip-border-color: var(--color-teal-8);
      --chip-focus-color: var(--color-teal-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-teal-8),
        var(--color-teal-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-teal-7),
        var(--color-teal-3)
      );
    }

    &.blue {
      --chip-fg-color: var(--color-blue-2);
      --chip-bg-color: var(--color-blue-9);
      --chip-border-color: var(--color-blue-8);
      --chip-focus-color: var(--color-blue-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-blue-8),
        var(--color-blue-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-blue-7),
        var(--color-blue-3)
      );
    }

    &.purple {
      --chip-fg-color: var(--color-purple-2);
      --chip-bg-color: var(--color-purple-9);
      --chip-border-color: var(--color-purple-8);
      --chip-focus-color: var(--color-purple-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-purple-8),
        var(--color-purple-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-purple-7),
        var(--color-purple-3)
      );
    }

    &.magenta {
      --chip-fg-color: var(--color-magenta-2);
      --chip-bg-color: var(--color-magenta-9);
      --chip-border-color: var(--color-magenta-8);
      --chip-focus-color: var(--color-magenta-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-magenta-8),
        var(--color-magenta-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-magenta-7),
        var(--color-magenta-3)
      );
    }

    &.gray {
      --chip-fg-color: var(--color-gray-2);
      --chip-bg-color: var(--color-gray-9);
      --chip-border-color: var(--color-gray-8);
      --chip-focus-color: var(--color-gray-extra-transparent);
      --chip-dismiss-bg-color: light-dark(
        var(--color-gray-8),
        var(--color-gray-7)
      );
      --chip-dismiss-highlight-color: light-dark(
        var(--color-gray-7),
        var(--color-gray-3)
      );
    }
  }

  &.black {
    --chip-bg-color: black;
    --chip-border-color: light-dark(var(--color-gray-3), var(--color-gray-8));
    --chip-focus-color: var(--color-gray-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-gray-3),
      var(--color-gray-7)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-gray-8),
      var(--color-gray-3)
    );
  }

  &.white {
    --chip-fg-color: black;
    --chip-bg-color: white;
    --chip-border-color: light-dark(var(--color-border), var(--color-gray-3));
    --chip-focus-color: var(--color-gray-transparent);
    --chip-dismiss-bg-color: light-dark(
      var(--color-gray-8),
      var(--color-gray-2)
    );
    --chip-dismiss-highlight-color: light-dark(
      var(--color-gray-5),
      var(--color-gray-6)
    );
  }
}

.chip:has(.chip-label) {
  padding: 0;
}

.chip-label {
  all: unset;
  display: inherit;
  line-height: inherit;
  user-select: inherit;
  cursor: inherit;
  padding: var(--chip-padding-y) var(--chip-padding-x);
  border-radius: var(--radius-full);
}

.chip-label:has(+ .dismiss-button) {
  padding-inline-end: calc(1.2em + 2 * var(--space-3xs));
}

.dismiss-button {
  --dismiss-button-size: 1.3em;
  --dismiss-button-bg-color: var(--chip-dismiss-bg-color);
  --dismiss-button-fg-color: currentcolor;
  --dismiss-button-highlight-color: var(--chip-dismiss-highlight-color);

  margin-block: -0.3em;
  margin-inline: var(--space-3xs) calc(-1 * var(--chip-padding-x) + 0.3em);
}

.chip-label + .dismiss-button {
  position: absolute;
  inset: 0 var(--space-3xs) 0 auto;
  margin: auto 0;
}
