/*
 * Note: Drawer extends Base Dialog, meaning this file builds on top of the
 * styles defined in ./shared/base-dialog.css
 */

.drawer {
  --dialog-dismiss-btn-offset: 12px;
  --drawer-size: min-content;

  position: fixed;
  inset: 0;
  border-radius: 0;
  margin: 0;
  border: 0;
  overflow: auto;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: var(--duration-xl) !important;
  }

  &.left {
    right: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateX(-100%);
      --dialog-ending-transform: translateX(-100%);
    }
  }

  &.top {
    bottom: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateY(-100%);
      --dialog-ending-transform: translateY(-100%);
    }
  }

  &.right {
    left: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateX(100%);
      --dialog-ending-transform: translateX(100%);
    }
  }

  &.bottom {
    top: auto;

    @media (prefers-reduced-motion: no-preference) {
      --dialog-starting-transform: translateY(100%);
      --dialog-ending-transform: translateY(100%);
    }
  }

  &.top,
  &.bottom {
    width: 100dvw;
    max-width: unset;
    height: var(--drawer-size);
    max-height: 100dvh;
    min-height: min(100dvh, 16rem);

    &.small {
      --drawer-size: 18rem;
    }

    &.medium {
      --drawer-size: 28rem;
    }

    &.large {
      --drawer-size: 38rem;
    }
  }

  &.left,
  &.right {
    height: 100dvh;
    max-height: unset;
    width: var(--drawer-size);
    min-width: min(100dvw, 18rem);
    max-width: 100dvw;

    &.small {
      --drawer-size: 22rem;
    }

    &.medium {
      --drawer-size: 32rem;
    }

    &.large {
      --drawer-size: 42rem;
    }
  }

  /*
   * Reset the color scheme rather than inheriting it from the parent element.
   *
   * Drawers aren't rendered inside their parent, so it doesn't makes sense for
   * them to inherit their parent's color scheme. We still allow explicit
   * overrides using the standard light-mode and dark-mode classes.
   */
  &:not(.light-mode, .dark-mode) {
    color-scheme: light dark;
  }
}

.drawer-body {
  height: 100%;
}

.drawer-footer {
  padding: var(--space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--space-xs);
  justify-content: flex-start;
  margin: 0;
  margin-block-start: auto;

  > * {
    width: 100%;
  }
}
