/*
 * Note: Drawer extends Base Dialog, meaning this file builds on top of the
 * styles defined in ./shared/base-dialog.css
 */

.cd-drawer {
  --cd-dialog-dismiss-btn-offset: 12px;
  --cd-drawer-size: min-content;

  position: fixed;
  inset: 0;
  border-radius: 0;
  margin: 0;
  border: 0;
  overflow: auto;

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: var(--cd-duration-xl) !important;
  }

  &.cd-side-left {
    right: auto;

    @media (prefers-reduced-motion: no-preference) {
      --cd-dialog-starting-transform: translateX(-100%);
      --cd-dialog-ending-transform: translateX(-100%);
    }
  }

  &.cd-side-top {
    bottom: auto;

    @media (prefers-reduced-motion: no-preference) {
      --cd-dialog-starting-transform: translateY(-100%);
      --cd-dialog-ending-transform: translateY(-100%);
    }
  }

  &.cd-side-right {
    left: auto;

    @media (prefers-reduced-motion: no-preference) {
      --cd-dialog-starting-transform: translateX(100%);
      --cd-dialog-ending-transform: translateX(100%);
    }
  }

  &.cd-side-bottom {
    top: auto;

    @media (prefers-reduced-motion: no-preference) {
      --cd-dialog-starting-transform: translateY(100%);
      --cd-dialog-ending-transform: translateY(100%);
    }
  }

  &.cd-side-top,
  &.cd-side-bottom {
    width: 100dvw;
    max-width: unset;
    height: var(--cd-drawer-size);
    max-height: 100dvh;
    min-height: min(100dvh, 16rem);

    &.cd-size-small {
      --cd-drawer-size: 18rem;
    }

    &.cd-size-medium {
      --cd-drawer-size: 28rem;
    }

    &.cd-size-large {
      --cd-drawer-size: 38rem;
    }

    &.cd-size-full {
      --cd-drawer-size: 100dvh;
    }
  }

  &.cd-side-left,
  &.cd-side-right {
    height: 100dvh;
    max-height: unset;
    width: var(--cd-drawer-size);
    min-width: min(100dvw, 18rem);
    max-width: 100dvw;

    &.cd-size-small {
      --cd-drawer-size: 22rem;
    }

    &.cd-size-medium {
      --cd-drawer-size: 32rem;
    }

    &.cd-size-large {
      --cd-drawer-size: 42rem;
    }

    &.cd-size-full {
      --cd-drawer-size: 100dvw;
    }
  }

  /*
   * Reset the color scheme rather than inheriting it from the parent element.
   *
   * Drawers aren't rendered inside their parent, so it doesn't makes sense for
   * them to inherit their parent's color scheme. We still allow explicit
   * overrides using the standard light-mode and dark-mode classes.
   */
  &:not(.cd-light-mode, .cd-dark-mode) {
    color-scheme: light dark;
  }
}

.cd-drawer-body {
  height: 100%;
}

.cd-drawer-footer {
  padding: var(--cd-space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--cd-space-xs);
  justify-content: flex-start;
  margin: 0;
  margin-block-start: auto;

  > * {
    width: 100%;
  }
}
