.cd-fieldset legend,
.cd-legend {
  line-height: var(--cd-line-height-s);
  font-size: var(--cd-font-size-l);
  font-family: var(--cd-font-family-heading);
  font-weight: var(--cd-font-weight-semibold);
  color: var(--cd-color-text-primary);
  margin-bottom: var(--cd-space-2xs);
}

.cd-fieldset-content {
  position: relative;
  border: var(--cd-border-s) solid var(--cd-color-border);
  border-radius: var(--cd-radius-m);
  background-color: var(--cd-color-surface-secondary);
  color: var(--cd-color-text-primary);
  padding: var(--cd-space-xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--cd-space-xs);
}

.cd-fieldset.cd-orientation-horizontal .cd-fieldset-content {
  flex-direction: row;
  gap: var(--cd-space-2xs);
}

.cd-fieldset.cd-variant-subtle .cd-fieldset-content {
  border: none;
  padding: 0;
  background-color: transparent;
}
