.cd-heading,
:where(.cd-markdown :is(h1, h2, h3, h4, h5, h6)) {
  font-family: var(--cd-font-family-heading);
  margin-block: 0.75em 0.3em;
  line-height: var(--cd-line-height-s);
  text-wrap: balance;
  overflow-wrap: break-word;
}

.cd-heading.cd-level-1,
:where(.cd-markdown h1) {
  font-size: var(--cd-font-size-4xl);
  font-weight: var(--cd-font-weight-black);

  /* 
   * Since the Level 1 Heading will typically be the first item inside the App
   * Content container (which already has padding at the top), we remove the top
   * margin by default. We can always add it back for special cases.
   */
  margin-block-start: 0;

  .cd-app-content > &:first-of-type {
    margin-block-start: 0;
  }
}

.cd-heading.cd-level-2,
:where(.cd-markdown h2) {
  font-size: var(--cd-font-size-3xl);
  font-weight: var(--cd-font-weight-bold);
}

.cd-heading.cd-level-3,
:where(.cd-markdown h3) {
  font-size: var(--cd-font-size-2xl);
  font-weight: var(--cd-font-weight-bold);
}

.cd-heading.cd-level-4,
:where(.cd-markdown h4) {
  font-size: var(--cd-font-size-xl);
  font-weight: var(--cd-font-weight-semibold);
}

.cd-heading.cd-level-5,
:where(.cd-markdown h5) {
  font-size: var(--cd-font-size-l);
  font-weight: var(--cd-font-weight-semibold);
}

.cd-heading.cd-level-6,
:where(.cd-markdown h6) {
  font-size: var(--cd-font-size-m);
  font-weight: var(--cd-font-weight-bold);
}
