.cd-highlight,
:where(.cd-markdown mark) {
  background-color: var(--cd-color-yellow-8);
  color: var(--cd-color-yellow-1);
  print-color-adjust: exact;
}

.cd-highlight.cd-variant-removed,
:where(.cd-markdown del) {
  background-color: var(--cd-color-red-8);
  color: var(--cd-color-red-1);
  transition: text-decoration-color var(--cd-duration-s) var(--cd-ease-default);
  text-decoration-line: line-through;
  text-decoration-skip-ink: none;
  text-decoration-thickness: var(--cd-border-m);
  text-decoration-color: var(--cd-color-red-4);
  print-color-adjust: exact;

  &:is(:hover, .cd-is-hovered) {
    text-decoration-color: transparent;
  }
}

.cd-highlight.cd-variant-added,
:where(.cd-markdown ins) {
  background-color: var(--cd-color-green-8);
  color: var(--cd-color-green-1);
  text-decoration-thickness: var(--cd-border-m);
  text-decoration-color: var(--cd-color-green-4);
  text-underline-offset: 0.1em;
  print-color-adjust: exact;
}

.cd-highlight.cd-variant-target,
:where(.cd-markdown ::target-text) {
  background-color: var(--cd-color-brand-8);
  color: var(--cd-color-brand-1);
  print-color-adjust: exact;
}
