.cd-key,
:where(.cd-markdown kbd) {
  display: inline;
  padding: 0 0.5ch;
  margin: 0 0.25ch;
  font-size: 0.9em;
  border: var(--cd-border-s) solid var(--cd-color-gray-8);
  border-bottom-width: 3px;
  border-radius: var(--cd-radius-m);
  font-weight: var(--cd-font-weight-semibold);
  font-family: var(--cd-font-family-body);
  background-color: var(--cd-color-gray-9);
  color: var(--cd-color-text-primary);
}
