/*
 * Note: Link extends Base Link, meaning this file builds on top of the
 * styles defined in ./shared/base-link.css
 */

.cd-link,
:where(.cd-markdown a) {
  --cd-link-color: var(--cd-color-teal-4);
  --cd-link-active-color: var(--cd-color-teal-3);

  font-weight: var(--cd-font-weight-semibold);
}
