/*
 * Note: for most of the styles applied using `.cd-markdown`, we use the
 * `:where()` selector to reduce specificity so we can more easily override them.
 * However, this breaks the styling for nested lists, which relies on the specificity
 * of the selectors for each level of nesting being higher than the last. Therefore,
 * we don't use this technique for Lists.
 */

/* Add space between subsequent items and nested lists */
.cd-list li + li,
.cd-list .cd-list,
.cd-markdown li + li,
.cd-markdown :is(ol, ul) :is(ol, ul) {
  margin-block-start: var(--cd-space-2xs);
}

/* Style ordered list markers */
ol.cd-list li::marker,
.cd-markdown ol li::marker {
  color: var(--cd-color-text-secondary);
  font-size: 0.85em;
  font-family: var(--cd-font-family-heading);
  font-weight: var(--cd-font-weight-semibold);
  line-height: 0;
}

/* Style unordered list markers */
ul.cd-list li::marker,
.cd-markdown ul li::marker {
  color: var(--cd-color-text-secondary);
  font-weight: var(--cd-font-weight-bold);
}

/* Cycle through list marker types in nested lists */
ol.cd-list,
ol.cd-list ol.cd-list ol.cd-list ol.cd-list,
.cd-markdown ol,
.cd-markdown ol ol ol ol {
  list-style: decimal;
}

ol.cd-list ol.cd-list,
ol.cd-list ol.cd-list ol.cd-list ol.cd-list ol.cd-list,
.cd-markdown ol ol,
.cd-markdown ol ol ol ol ol {
  list-style: lower-latin;
}

ol.cd-list ol.cd-list ol.cd-list,
ol.cd-list ol.cd-list ol.cd-list ol.cd-list ol.cd-list ol.cd-list,
.cd-markdown ol ol ol,
.cd-markdown ol ol ol ol ol ol {
  list-style: lower-roman;
}

ul.cd-list,
ul.cd-list ul.cd-list ul.cd-list ul.cd-list,
.cd-markdown ul,
.cd-markdown ul ul ul ul {
  list-style: disc;
}

ul.cd-list ul.cd-list,
ul.cd-list ul.cd-list ul.cd-list ul.cd-list ul.cd-list,
.cd-markdown ul ul,
.cd-markdown ul ul ul ul ul {
  list-style: circle;
}

ul.cd-list ul.cd-list ul.cd-list,
ul.cd-list ul.cd-list ul.cd-list ul.cd-list ul.cd-list ul.cd-list,
.cd-markdown ul ul ul,
.cd-markdown ul ul ul ul ul ul {
  list-style: square;
}

/* Make the markers a different color for their second appearance in a nested list */
ol.cd-list ol.cd-list ol.cd-list ol.cd-list li::marker,
ul.cd-list ul.cd-list ul.cd-list ul.cd-list li::marker,
.cd-markdown ol ol ol ol li::marker,
.cd-markdown ul ul ul ul li::marker {
  color: var(--cd-color-text-tertiary);
}
