meter.cd-meter {
  appearance: none;
  inline-size: 100%;
  block-size: 1em;
}

@supports selector(::-moz-meter-bar) {
  meter.cd-meter {
    border-radius: var(--cd-radius-s);
    border: 0;
    display: block;
    inline-size: 100%;
    block-size: 1em;
    box-shadow: inset 0 0 0 var(--cd-border-s) var(--cd-color-border);
    background: var(--cd-color-gray-9);
    box-sizing: border-box;
    overflow: clip;
  }
}

.cd-meter::-webkit-meter-bar {
  border-radius: var(--cd-radius-s);
  border: 0;
  display: block;
  inline-size: 100%;
  block-size: 1em;
  box-shadow: inset 0 0 0 var(--cd-border-s) var(--cd-color-border);
  background: var(--cd-color-gray-9);
  box-sizing: border-box;
  overflow: clip;
}

.cd-meter::-webkit-meter-optimum-value,
.cd-meter::-webkit-meter-suboptimum-value,
.cd-meter::-webkit-meter-even-less-good-value {
  border-radius: var(--cd-radius-s);
  border: var(--cd-border-s) solid transparent;
  box-sizing: border-box;
  background-size: 100vw;
  background-image: linear-gradient(
    to right,
    var(--cd-meter-start-color),
    var(--cd-meter-end-color)
  );
}

.cd-meter::-webkit-meter-inner-element {
  display: inline-block;
  position: relative;
}

.cd-meter::-moz-meter-bar {
  border-radius: var(--cd-radius-s);
  border: var(--cd-border-s) solid transparent;
  box-sizing: border-box;
  background-size: 100vw;
  background-image: linear-gradient(
    to right,
    var(--cd-meter-start-color),
    var(--cd-meter-end-color)
  );
}

.cd-meter::-webkit-meter-optimum-value {
  --cd-meter-start-color: var(--cd-color-green-6);
  --cd-meter-end-color: var(--cd-color-green-4);

  border-color: var(--cd-color-green-5);
}

.cd-meter:-moz-meter-optimum::-moz-meter-bar {
  --cd-meter-start-color: var(--cd-color-green-6);
  --cd-meter-end-color: var(--cd-color-green-4);

  border-color: var(--cd-color-green-5);
}

.cd-meter::-webkit-meter-suboptimum-value {
  --cd-meter-start-color: var(--cd-color-yellow-7);
  --cd-meter-end-color: var(--cd-color-yellow-5);

  border-color: var(--cd-color-yellow-6);

  @media (prefers-color-scheme: dark) {
    --cd-meter-start-color: var(--cd-color-yellow-6);
    --cd-meter-end-color: var(--cd-color-yellow-4);

    border-color: var(--cd-color-yellow-5);
  }
}

.cd-meter:-moz-meter-sub-optimum::-moz-meter-bar {
  --cd-meter-start-color: var(--cd-color-yellow-7);
  --cd-meter-end-color: var(--cd-color-yellow-5);

  border-color: var(--cd-color-yellow-6);

  @media (prefers-color-scheme: dark) {
    --cd-meter-start-color: var(--cd-color-yellow-6);
    --cd-meter-end-color: var(--cd-color-yellow-4);

    border-color: var(--cd-color-yellow-5);
  }
}

.cd-meter::-webkit-meter-even-less-good-value {
  --cd-meter-start-color: var(--cd-color-red-6);
  --cd-meter-end-color: var(--cd-color-red-4);

  border-color: var(--cd-color-red-5);
}

.cd-meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  --cd-meter-start-color: var(--cd-color-red-6);
  --cd-meter-end-color: var(--cd-color-red-4);

  border-color: var(--cd-color-red-5);
}
