/*
 * Note: Modal extends Base Dialog, meaning this file builds on top of the
 * styles defined in ./shared/base-dialog.css
 */

.cd-modal {
  --cd-dialog-dismiss-btn-offset: 9px;
  --cd-modal-size: fit-content;

  @media (prefers-reduced-motion: no-preference) {
    --cd-dialog-starting-transform: translateY(16px) scale(0.95);
    --cd-dialog-ending-transform: translateY(0) scale(0.9);
  }

  max-height: calc(100svh - 4 * var(--cd-space-body-y));
  max-width: calc(100svw - 4 * var(--cd-space-body-x));
  margin: auto;
  width: var(--cd-modal-size);

  &.cd-size-small {
    --cd-modal-size: 25rem;
  }

  &.cd-size-medium {
    --cd-modal-size: 40rem;
  }

  &.cd-size-large {
    --cd-modal-size: 55rem;
  }

  /*
   * Reset the color scheme rather than inheriting it from the parent element.
   *
   * Modals aren't rendered inside their parent, so it doesn't makes sense for
   * them to inherit their parent's color scheme. We still allow explicit
   * overrides using the standard light-mode and dark-mode classes.
   */
  &:not(.cd-light-mode, .cd-dark-mode) {
    color-scheme: light dark;
  }
}

.cd-modal-footer {
  padding: var(--cd-space-xs);
  flex-shrink: 0;
  display: flex;
  gap: var(--cd-space-2xs);
  justify-content: flex-start;
  background-color: var(--cd-color-surface-secondary);
  border-block-start: var(--cd-border-s) solid var(--cd-color-border);
  margin: 0;

  @media screen and (width < 30rem) {
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
  }

  .cd-button:not(.cd-size-small, .cd-size-medium, .cd-size-large) {
    font-size: 0.9rem;
  }
}
