@keyframes cd-indeterminate-progress {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 0.75;
  }
}

progress.cd-progress {
  appearance: none;
  inline-size: 100%;
  block-size: 1em;
}

@supports selector(::-moz-progress-bar) {
  progress.cd-progress {
    border-radius: var(--cd-radius-s);
    border: 0;
    display: block;
    inline-size: 100%;
    block-size: 1em;
    box-shadow: inset 0 0 0 var(--cd-border-s) var(--cd-color-border);
    background: var(--cd-color-gray-9);
    box-sizing: border-box;
    overflow: clip;
  }
}

.cd-progress::-webkit-progress-bar {
  border-radius: var(--cd-radius-s);
  border: 0;
  display: block;
  inline-size: 100%;
  block-size: 1em;
  box-shadow: inset 0 0 0 var(--cd-border-s) var(--cd-color-border);
  background: var(--cd-color-gray-9);
  box-sizing: border-box;
  overflow: clip;
}

.cd-progress::-webkit-progress-value {
  border-radius: var(--cd-radius-s);
  border: var(--cd-border-s) solid var(--cd-color-blue-5);
  box-sizing: border-box;
  background-size: 100vw;
  background-image: linear-gradient(
    to right,
    var(--cd-color-blue-6),
    var(--cd-color-blue-4)
  );
}

.cd-progress::-moz-progress-bar {
  border-radius: var(--cd-radius-s);
  border: var(--cd-border-s) solid var(--cd-color-blue-5);
  box-sizing: border-box;
  background-size: 100vw;
  background-image: linear-gradient(
    to right,
    var(--cd-color-blue-6),
    var(--cd-color-blue-4)
  );
}

.cd-progress:indeterminate::-webkit-progress-value {
  opacity: 0.5;
  inline-size: 100% !important;
  animation: cd-indeterminate-progress 1s var(--cd-ease-both-subtle) infinite
    alternate;
}

.cd-progress:indeterminate::-moz-progress-bar {
  opacity: 0.5;
  inline-size: 100% !important;
  animation: cd-indeterminate-progress 1s var(--cd-ease-both-subtle) infinite
    alternate;
}
