.cd-quote,
:where(.cd-markdown blockquote) {
  display: block;
  margin: 0;
  color: var(--cd-color-text-secondary);
  border-inline-start: 0.25em solid var(--cd-color-gray-transparent);
  padding: var(--cd-space-3xs);
  padding-inline-start: var(--cd-space-xs);
  position: relative;
  line-height: var(--cd-line-height-m);
  font-family: var(--cd-font-family-body);
  font-size: var(--cd-font-size-m);
  font-weight: var(--cd-font-weight-normal);

  footer {
    margin-block-start: 0.5em;
    font-size: var(--cd-font-size-s);
    font-style: initial;
    color: var(--cd-color-text-primary);
    font-weight: var(--cd-font-weight-semibold);

    cite {
      font-weight: var(--cd-font-weight-normal);
      font-style: italic;
    }
  }
}
