@keyframes cd-skeleton-pulse-light {
  from {
    opacity: 0.14;
  }

  to {
    opacity: 0.21;
  }
}

@keyframes cd-skeleton-pulse-dark {
  from {
    opacity: 0.28;
  }

  to {
    opacity: 0.36;
  }
}

.cd-skeleton,
.cd-skeleton-controller.cd-is-loading .cd-skeleton-item {
  animation: cd-skeleton-pulse-light 1s var(--cd-ease-both-subtle) alternate 0s
    infinite !important;
  border-radius: var(--cd-radius-s) !important;
  background-color: var(--cd-color-gray-5) !important;
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  pointer-events: none !important;
  color: transparent !important;
  mask-image: none !important;
  background-image: none !important;
  user-select: none !important;
  print-color-adjust: exact;

  /*************************************************************
   * Special styles for "skeletonizing" specific element types *
   *************************************************************/

  /* Make block text take up the full width */
  &.cd-paragraph,
  &.cd-heading {
    inline-size: 100%;
  }

  /* For empty text elements, add filler content so it isn't 0 height. */
  &:is(.cd-paragraph, .cd-heading, .cd-chip, .cd-card-title)::before {
    content: ".";
  }

  /* Add a reasonable minimum width to buttons and chips */
  &:is(.cd-button, .cd-chip):empty {
    min-inline-size: 5em;
  }

  /* Add a reasonable width to card titles */
  &.cd-card-title {
    inline-size: 40%;
    overflow: hidden;
  }

  /* Visually hide contents, but let them take up space so elements don't collapse to 0 height. */
  &::before,
  &::after,
  > * {
    visibility: hidden !important;
  }

  @media (prefers-color-scheme: dark) {
    animation-name: cd-skeleton-pulse-dark !important;
  }
}

.cd-skeleton-controller {
  display: contents;
}
