.cd-skip-link {
  position: fixed;
  display: inline-block;
  z-index: 100;
  top: var(--cd-space-body-y);
  left: var(--cd-space-body-x);
  background-color: var(--cd-color-brand-5);
  padding: var(--cd-space-xs);
  border-radius: var(--cd-radius-m);
  border: 0.25em solid var(--cd-color-brand-4);
  color: white;
  font-weight: var(--cd-font-weight-bold);
  font-family: var(--cd-font-family-body);
  font-size: var(--cd-font-size-m);
  outline: 0;
  box-shadow:
    var(--cd-shadow-l),
    0 0 0 0.2em var(--cd-color-brand-transparent);
  text-decoration: none;
  vertical-align: middle;
  opacity: 0.25;
  transition: opacity var(--cd-duration-m) var(--cd-ease-default);
  pointer-events: none;
  line-height: var(--cd-line-height-xs);

  &:is(:focus, .cd-is-focused, .cd-is-static) {
    opacity: 1;
  }

  &.cd-is-static {
    position: static;
    pointer-events: unset;
  }
}
