@keyframes cd-spinner-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.cd-spinner {
  --cd-spinner-primary-color: var(--cd-color-brand-5);
  --cd-spinner-secondary-color: var(--cd-color-brand-3);
  --cd-spinner-delay: 2s;
  --cd-spinner-scale: 1;

  opacity: 1;
  font-size: calc(1rem * var(--cd-spinner-scale));
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--cd-space-2xs);

  &.cd-is-delayed {
    @starting-style {
      opacity: 0;
    }

    transition: opacity var(--cd-duration-l) var(--cd-ease-in);
    transition-delay: var(--cd-spinner-delay);
  }

  &.cd-size-small {
    --cd-spinner-scale: 0.75;
  }

  &.cd-size-large {
    --cd-spinner-scale: 1.5;
  }

  &.cd-label-position-top {
    flex-direction: column-reverse;

    &::after {
      inset: auto 0 0;
    }
  }

  &.cd-label-position-right {
    flex-direction: row;
    gap: var(--cd-space-xs);

    &::after {
      inset: 0 auto 0 0;
    }
  }

  &.cd-label-position-left {
    flex-direction: row-reverse;
    gap: var(--cd-space-xs);

    &::after {
      inset: 0 0 0 auto;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 3em;
    width: 3em;
    mask-image: url("@/src/icons/spinner.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--cd-spinner-primary-color);
    animation: cd-spinner-spin 0.85s linear infinite;
  }

  &::after {
    position: absolute;
    inset: 0 0 auto;
    margin: auto;
    background-color: var(--cd-spinner-secondary-color);
    animation-duration: 1.05s;
  }
}
