table.cd-table,
:where(.cd-markdown table) {
  --cd-table-density: 1;
  --cd-table-bg-odd: var(--cd-color-surface-primary);
  --cd-table-bg-even: var(--cd-color-surface-secondary);
  --cd-table-vertical-border: var(--cd-border-s);

  background-color: var(--cd-color-surface-primary);
  border-collapse: separate;
  border-spacing: 0;
  font-size: var(--cd-font-size-m);
  border: var(--cd-border-s) solid var(--cd-color-border);
  border-radius: var(--cd-radius-s);
  color: var(--cd-color-text-primary);
  font-family: var(--cd-font-family-body);
  font-weight: var(--cd-font-weight-normal);
  overflow: hidden;

  &.cd-variant-subtle {
    --cd-table-bg-odd: transparent;
    --cd-table-bg-even: transparent;
    --cd-table-vertical-border: 0;

    background-color: transparent;
    color: inherit;
    border: 0;
  }

  &.cd-spacing-dense {
    --cd-table-density: 0.5;
  }

  &.cd-spacing-sparse {
    --cd-table-density: 1.5;
  }

  caption {
    font-family: var(--cd-font-family-heading);
    line-height: var(--cd-line-height-s);
    font-size: var(--cd-font-size-l);
    font-weight: var(--cd-font-weight-semibold);
    text-align: start;
    margin: 0 0 var(--cd-space-2xs);
  }

  &.cd-caption-below {
    caption-side: bottom;

    caption {
      font-family: var(--cd-font-family-body);
      line-height: var(--cd-line-height-m);
      font-size: var(--cd-font-size-m);
      font-weight: var(--cd-font-weight-normal);
      text-align: center;
      margin-block: var(--cd-space-2xs);
      font-style: italic;
      color: var(--cd-color-text-secondary);
    }
  }

  th,
  td {
    padding: calc(var(--cd-space-2xs) * var(--cd-table-density))
      calc(var(--cd-space-xs) * var(--cd-table-density));
  }

  th,
  tfoot td {
    font-weight: var(--cd-font-weight-bold);
    font-family: var(--cd-font-family-heading);
    text-align: center;
  }

  th {
    border-block-end: var(--cd-border-m) solid var(--cd-color-border);
  }

  tfoot td {
    border-block-start: var(--cd-border-m) solid var(--cd-color-border);
  }

  td {
    text-align: unset;
  }

  :is(th, td):not(:last-of-type) {
    border-inline-end: var(--cd-table-vertical-border) dashed
      var(--cd-color-border);
  }

  tr:not(:last-of-type) td {
    border-block-end: var(--cd-border-s) solid var(--cd-color-border);
  }

  tbody tr:nth-child(odd),
  tbody:has(tr:last-of-type:nth-child(even)) + tfoot tr {
    background-color: var(--cd-table-bg-even);
  }

  tbody tr:nth-child(even) {
    background-color: var(--cd-table-bg-odd);
  }
}
