.cd-bold,
:where(.cd-markdown strong, .cd-markdown b) {
  font-weight: var(--cd-font-weight-bold);
}

.cd-semibold {
  font-weight: var(--cd-font-weight-semibold);
}

.cd-italic,
:where(.cd-markdown em) {
  font-style: italic;
}

.cd-underline {
  text-decoration-line: underline;
}

.cd-strikethrough,
:where(.cd-markdown s) {
  text-decoration-line: line-through;
}

.cd-underline.cd-strikethrough {
  text-decoration-line: underline line-through;
}

.cd-subscript,
.cd-superscript,
:where(.cd-markdown sub, .cd-markdown sup) {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.cd-subscript,
:where(.cd-markdown sub) {
  inset-block-end: -0.25em;
}

.cd-superscript,
:where(.cd-markdown sup) {
  inset-block-start: -0.5em;
}

.cd-code,
:where(.cd-markdown code) {
  font-family: var(--cd-font-family-mono);
  background-color: var(--cd-color-gray-extra-transparent);
  color: var(--cd-color-gray-1);
  border-radius: var(--cd-radius-s);
  display: inline;
  padding: 0.25ch 0.5ch;
  font-size: 0.9em;

  &.cd-is-inverted {
    color: var(--cd-color-gray-9);
  }
}

.cd-link .cd-code,
:where(.cd-markdown a code) {
  text-decoration: inherit;
  text-decoration-color: inherit;
  text-decoration-thickness: inherit;
  color: inherit;
}

.cd-clamp-1,
.cd-clamp-2,
.cd-clamp-3,
.cd-clamp-4,
.cd-clamp-5,
.cd-clamp-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cd-clamp-1 {
  line-clamp: 1;
  -webkit-line-clamp: 1;
}

.cd-clamp-2 {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.cd-clamp-3 {
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.cd-clamp-4 {
  line-clamp: 4;
  -webkit-line-clamp: 4;
}

.cd-clamp-5 {
  line-clamp: 5;
  -webkit-line-clamp: 5;
}

.cd-clamp-6 {
  line-clamp: 6;
  -webkit-line-clamp: 6;
}

.cd-gradient-text {
  background: linear-gradient(
    30deg,
    var(--cd-gradient-text-start, var(--cd-color-blue-5)),
    var(--cd-gradient-text-middle, var(--cd-color-brand-5)),
    var(--cd-gradient-text-end, var(--cd-color-purple-5))
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
