/*
 * Note: Wrap extends Base Flex, meaning this file builds on top of the
 * styles defined in ./shared/base-flex.css
 */

.cd-wrap {
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}
