/***********************************
 * Conditionally show/hide content *
 ***********************************/

.cd-app:not([data-cd-js-enabled="true"]) .cd-if-js-enabled {
  display: none !important;
}

.cd-app[data-cd-js-enabled="true"] .cd-if-js-disabled {
  display: none !important;
}

@media screen and (width < 30rem) {
  /* Narrow viewport */
  :is(.cd-if-medium-viewport, .cd-if-wide-viewport):not(
    .cd-if-narrow-viewport
  ) {
    display: none !important;
  }
}

@media screen and (30rem <= width < 55rem) {
  /* Medium viewport */
  :is(.cd-if-narrow-viewport, .cd-if-wide-viewport):not(
    .cd-if-medium-viewport
  ) {
    display: none !important;
  }
}

@media screen and (width >= 55rem) {
  /* Wide viewport */
  :is(.cd-if-narrow-viewport, .cd-if-medium-viewport):not(
    .cd-if-wide-viewport
  ) {
    display: none !important;
  }
}

.cd-app:not(:has(.cd-app-sidebar)) .cd-if-app-has-sidebar {
  display: none !important;
}

/*************************************************
 * Override color mode for a section of the page *
 *************************************************/

.cd-light-mode {
  color-scheme: only light;
  color: var(--cd-color-text-primary);
}

.cd-dark-mode {
  color-scheme: only dark;
  color: var(--cd-color-text-primary);
}

/****************************************************
 * Make elements invisible, except to screenreaders *
 ****************************************************/

.cd-visually-hidden,
.cd-app-sidebar-toggle input,
.cd-skip-link:not(:focus, .cd-is-static) {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
