.wrap,
.stack,
.distribute {
  display: flex !important;
  gap: var(--space-s);

  &.no-gap {
    gap: var(--space-none);
  }

  &.densest {
    gap: var(--space-3xs);
  }

  &.denser {
    gap: var(--space-2xs);
  }

  &.dense {
    gap: var(--space-xs);
  }

  &.sparse {
    gap: var(--space-m);
  }

  &.sparser {
    gap: var(--space-l);
  }

  &.sparsest {
    gap: var(--space-xl);
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}
