.cd-link,
.cd-card-title a,
.cd-app-sidebar-heading a,
:where(.cd-markdown a) {
  color: var(--cd-link-color);
  text-decoration-line: underline;
  text-decoration-color: rgb(from var(--cd-link-color) r g b / 40%);
  text-decoration-skip-ink: all;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
  cursor: pointer;
  transition-property: color, text-decoration-color;
  transition-duration: var(--cd-duration-s);
  transition-timing-function: var(--cd-ease-default);

  &:is(:hover, .cd-is-hovered) {
    text-decoration-color: var(--cd-link-color);
  }

  &:is(:focus-visible, .cd-is-focused) {
    outline-offset: 1px;
  }

  &:is(:active, .cd-is-active) {
    color: var(--cd-link-active-color);
    text-decoration-color: var(--cd-link-active-color);
  }
}
