.cd-alert,
.cd-banner {
  display: block;
  font-family: var(--cd-font-family-body);
  font-weight: var(--cd-font-weight-normal);
  position: relative;
  line-height: var(--cd-line-height-m);

  > * {
    line-height: inherit;
  }
}

.cd-alert-title,
.cd-banner-title {
  font-family: var(--cd-font-family-heading);
  font-weight: var(--cd-font-weight-bold);
  line-height: var(--cd-line-height-s);
  font-size: 0.85em;
  margin: 0;

  & + * {
    margin-block-start: 0;
  }
}

.cd-alert-content,
.cd-banner-content {
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-start: var(--cd-message-icon-offset);
    margin-block: auto;
    width: var(--cd-message-icon-size);
    height: var(--cd-message-icon-size);
  }

  &::before {
    border-radius: var(--cd-radius-full);
    background-color: var(--cd-message-icon-bg-color);
    border: var(--cd-border-m) solid var(--cd-message-icon-color);
  }

  &::after {
    mask-image: var(--cd-message-icon);
    mask-repeat: no-repeat;
    mask-size: auto 55%;
    mask-position: center;
    background-color: var(--cd-message-icon-color);
  }

  @media print {
    &::before {
      background-color: transparent;
    }

    &::after {
      print-color-adjust: exact;
    }
  }
}
