.cd-wrap,
.cd-stack,
.cd-distribute {
  display: flex !important;
  gap: var(--cd-space-s);

  &.cd-spacing-none {
    gap: var(--cd-space-none);
  }

  &.cd-spacing-densest {
    gap: var(--cd-space-3xs);
  }

  &.cd-spacing-denser {
    gap: var(--cd-space-2xs);
  }

  &.cd-spacing-dense {
    gap: var(--cd-space-xs);
  }

  &.cd-spacing-sparse {
    gap: var(--cd-space-m);
  }

  &.cd-spacing-sparser {
    gap: var(--cd-space-l);
  }

  &.cd-spacing-sparsest {
    gap: var(--cd-space-xl);
  }

  &.cd-orientation-horizontal {
    flex-direction: row;
  }

  &.cd-orientation-vertical {
    flex-direction: column;
  }
}
