.cd-modal::backdrop,
.cd-drawer::backdrop {
  --cd-dialog-backdrop-starting-opacity: 0;
  --cd-dialog-backdrop-open-opacity: 0.6;
  --cd-dialog-backdrop-ending-opacity: 0;

  @media (prefers-color-scheme: dark) {
    --cd-dialog-backdrop-open-opacity: 0.75;
  }

  background-color: light-dark(var(--cd-color-gray-2), var(--cd-color-gray-8));
}

.cd-modal,
.cd-drawer {
  --cd-dialog-starting-opacity: 0;
  --cd-dialog-open-opacity: 1;
  --cd-dialog-ending-opacity: 0;
  --cd-dialog-dismiss-btn-offset: var(--cd-space-2xs);
  --cd-dialog-dismiss-btn-size: 1.8rem;

  box-shadow: var(--cd-shadow-xl);
  border: 0;
  background-color: var(--cd-color-surface-primary);
  color: var(--cd-color-text-primary);
  padding: 0;
  flex-direction: column;
  gap: 0;

  &[open] {
    display: flex;
  }
}

.cd-modal-header,
.cd-drawer-header,
.cd-modal-body,
.cd-drawer-body,
.cd-modal-footer,
.cd-drawer-footer {
  padding: var(--cd-space-s);
}

.cd-modal-header,
.cd-drawer-header {
  font-family: var(--cd-font-family-heading);
  font-size: var(--cd-font-size-l);
  font-weight: var(--cd-font-weight-bold);
  line-height: var(--cd-line-height-s);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--cd-color-brand-3);
  margin: 0;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }

  &:has(.cd-dismiss-button) {
    padding-inline-end: calc(
      2 * var(--cd-dialog-dismiss-btn-offset) +
        var(--cd-dialog-dismiss-btn-size)
    );

    /* When no title is present, ensure the header can fit the absolutely positioned dismiss button */
    min-height: calc(
      var(--cd-dialog-dismiss-btn-offset) + var(--cd-dialog-dismiss-btn-size)
    );
  }

  .cd-dismiss-button {
    --cd-dismiss-button-size: var(--cd-dialog-dismiss-btn-size);
    --cd-dismiss-button-fg-color: var(--cd-color-text-primary);
    --cd-dismiss-button-bg-color: light-dark(
      var(--cd-color-gray-9),
      var(--cd-color-gray-8)
    );
    --cd-dismiss-button-highlight-color: light-dark(
      var(--cd-color-gray-8),
      var(--cd-color-gray-7)
    );

    position: absolute;
    inset-block-start: var(--cd-dialog-dismiss-btn-offset);
    inset-inline-end: var(--cd-dialog-dismiss-btn-offset);
  }
}

.cd-modal-body,
.cd-drawer-body {
  flex-shrink: 1;
  display: block;
  overflow: auto;
  margin: 0;
}

.cd-modal-footer,
.cd-drawer-footer {
  flex-shrink: 0;
  display: flex;
  gap: var(--cd-space-2xs);
  justify-content: flex-start;
  background-color: var(--cd-color-surface-secondary);
  border-block-start: var(--cd-border-s) solid var(--cd-color-border);
  margin: 0;
  padding-block: var(--cd-space-xs);
  width: 100%;
  box-shadow: var(--cd-shadow-s) inset;

  @media screen and (width < 30rem) {
    flex-direction: column;
    justify-content: stretch;
  }

  .cd-button:not(.cd-size-small, .cd-size-medium, .cd-size-large) {
    --cd-button-scale: 0.9;
  }
}

/* If there's a header and a body, collapse the spacing between them */
.cd-modal-header:has(+ .cd-modal-body),
.cd-drawer-header:has(+ .cd-drawer-body) {
  padding-block-end: calc(0.5 * var(--cd-space-s));
}

.cd-modal-header + .cd-modal-body,
.cd-drawer-header + .cd-drawer-body {
  padding-block-start: calc(0.5 * var(--cd-space-s));
}

/* Fade in/out (mixed browser support as of March 2025) */
:is(.cd-modal, .cd-drawer)[open] {
  display: flex;
  transform: var(--cd-dialog-open-transform);
  opacity: var(--cd-dialog-open-opacity);
}

:is(.cd-modal, .cd-drawer)[open]::backdrop {
  opacity: var(--cd-dialog-backdrop-open-opacity);
}

:is(.cd-modal, .cd-drawer),
:is(.cd-modal, .cd-drawer)::backdrop {
  transition-property: transform, opacity, display, overlay;
  transition-duration: var(--cd-duration-l);
  transition-behavior: allow-discrete;
}

:is(.cd-modal, .cd-drawer) {
  transform: var(--cd-dialog-ending-transform);
  opacity: var(--cd-dialog-ending-opacity);
  transition-timing-function: var(--cd-ease-out);
}

:is(.cd-modal, .cd-drawer)::backdrop {
  opacity: var(--cd-dialog-backdrop-ending-opacity);
  transition-timing-function: var(--cd-ease-default);
}

@starting-style {
  :is(.cd-modal, .cd-drawer)[open] {
    transform: var(--cd-dialog-starting-transform);
    opacity: var(--cd-dialog-starting-opacity);
  }

  :is(.cd-modal, .cd-drawer)[open]::backdrop {
    opacity: var(--cd-dialog-backdrop-starting-opacity);
  }
}

/* End fade in/out styles */
