.dismiss-button {
  --dismiss-button-bg-color: var(--color-gray-9);
  --dismiss-button-fg-color: var(--color-gray-3);
  --dismiss-button-highlight-color: var(--color-gray-8);
  --dismiss-button-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--dismiss-button-size);
  width: var(--dismiss-button-size);
  background-color: var(--dismiss-button-bg-color);
  color: var(--dismiss-button-fg-color);
  border-radius: var(--radius-full);
  padding: 0;
  border: 0;
  outline: 0;
  box-shadow: 0 0 0 var(--border-s) transparent;
  cursor: pointer;
  transform: translateY(0);
  transition-property: box-shadow, transform;
  transition-duration: var(--duration-s);
  transition-timing-function: var(--ease-default);

  &:is(:hover, .hover, :focus-visible, .focus) {
    box-shadow: 0 0 0 var(--border-s) var(--dismiss-button-highlight-color);
  }

  &:is(:hover, .hover):is(:focus-visible, .focus) {
    box-shadow: 0 0 0 var(--border-m) var(--dismiss-button-highlight-color);
  }

  &:is(:active, .active) {
    transform: translateY(1px);
    box-shadow: 0 0 0 var(--border-s) var(--dismiss-button-highlight-color) !important;
  }

  &::after {
    content: "";
    width: calc(var(--dismiss-button-size) * 0.45);
    height: calc(var(--dismiss-button-size) * 0.45);
    mask-image: url("@/src/icons/x-thin.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentcolor;
  }
}
